@charset "UTF-8";

body {
    background-color: rgb(108, 151, 137);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
}
h1#principal {
    text-align: center;
    background-color: rgb(93, 126, 115);
}
h2 {
    color: white;
}
.basico {
    background-color:rgb(93, 126, 115);
    color: rgba(10, 223, 10, 0.562);
   

}
.intermediario {
    color: rgba(0, 0, 255, 0.733);

}

.avancado {
    color: rgba(255, 0, 0, 0.719);

}
.destaque { 
    background-color: yellowgreen;
}
